body {
  font-family: 'Tangerine', serif;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#header {
  float: left;
  background-color: #658914;
  width: 100%;
  height: 40%;
  max-height: 75px;
  border-bottom: 2px solid #4c6b12;
  z-index: 9999;
  background-image: url("small-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#dashboard {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

#overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.72);
  height: 100%;
  min-height: 640px;
  width: 100%;
  z-index: 999;
}

.menu {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: left;
}

#links {
  float: left;
  height: 90%;
  width: 75%;
  background-color: white;
  overflow-y: scroll;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: green;
}

li {
  list-style: none;
  height: 75px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  line-height: 75px;
  text-align: center;
}

.boxes {
  width: 42.5%;
  max-width: 600px;
  min-width: 50px;
  height: 200px;
  float: left;
  margin-left: 5%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.widget-image {
  float: left;
  height: 25%;
  width: 100%;
  border-radius: 10px;
}

.widget-description {
  float: left;
  height: 75%;
  border-radius: 10px;
  text-align: right;
  width: 95%;
  margin-right: 5%;
}

.image {
  position: relative;
  width: 50px;
  height: 50px;
}

strong {
    color: #6E6D6D;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 50px;
}

p {
    color: #6E6D6D;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-size: 100%;
    margin-right: 10px;
}

.yellow {
  background: #ecff8b;
}

.gray {
  background-color: #ececec;
}

.red {
  background-color: #ff9797;
}

.white {
  background: white;
  width: 75%;
  height: 15%;
  margin-top: 0;
  margin-left: 0;
  background-image: url("menu-preto.svg");
  background-repeat: no-repeat;
  background-position: left;
}

@media screen and (max-width: 300px) {
  strong {
    font-size: 40px;
  }
  p {
    font-size: 75%;
  }
}

@media screen and (min-width: 800px) {
  strong {
    font-size: 80px;
  }
  p {
    font-size: 150%;
  }
}
